.timer-box {
  padding: 24px;
}
#datetime-picker {
  padding-left: 12px;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  height: 40px;

  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.timer-box > button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 80px;
  height: 44px;
  background: #4e75ff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
}
.timer-box > button:disabled {
  background: #cfcfcf;
  color: #989898;
}
.timer {
  padding-top: 24px;
  display: flex;
  gap: 24px;
}
.field {
  display: flex;
  flex-direction: column;
}
.value {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.label {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
}
